# Model weights can't be loaded with torch==1.9
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.13.1+cu116
torchvision==0.14.1+cu116

diffusers>=0.15.1, <1.0
transformers>=4.25
accelerate>=0.18.0, <1.0
